#:schema https://json.schemastore.org/any.json
root = "."
tmp_dir = "build"

[build]
args_bin = ["server"]
bin = "./build/namemyserver-dev"
cmd = "go tool templ generate; go build -o ./build/namemyserver-dev -v ./cmd"
delay = 1000
exclude_dir = ["frontend", "build", "var"]
exclude_file = []
exclude_regex = ["_test.go", "_templ.go"]
exclude_unchanged = false
follow_symlink = false
full_bin = ""
include_dir = []
include_ext = ["go", "tpl", "tmpl", "templ", "html"]
kill_delay = "0s"
log = "build/build-errors.log"
send_interrupt = false
stop_on_error = true

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
time = false

[misc]
clean_on_exit = false

[screen]
clear_on_rebuild = false
