package templates

type GenerateViewModel struct {
	Name string
}

templ GeneratePartial(vm GenerateViewModel) {
	<div class="relative">
		<div class="text-gray-800 font-semibold">
			{ vm.Name }
		</div>
		<div class="js-copy absolute left-full top-0 p-1 cursor-pointer hover:opacity-65" data-copy-value={ vm.Name }>
			<div>
				@CopyIcon()
			</div>
			<span class="js-checkmark text-green-500 absolute top-0 right-0 opacity-0">
				@CheckMarkIcon()
			</span>
		</div>
	</div>
}
