package templates

type InternalErrorViewModel struct {
	Err      error
	PrintErr bool
}

templ InternalErrorPage(vm InternalErrorViewModel) {
	@Layout() {
		<div>Internal Error happened</div>
		if vm.PrintErr {
			<pre>{ vm.Err.Error() }</pre>
		}
	}
}
